
body {
    padding: 0;
    margin: 0;
    border: 0;
    background: url(images/Coding.jpg) no-repeat;
    background-size: 100% 100%;
}

nav a{
    color: whitesmoke;
}

nav #name {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

nav #about, #project, #contact {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 400;
    text-decoration: underline;
}

nav a:hover {
    color: wheat;
}

#container {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#container:hover #overlay {
    opacity: 1;
}

#text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}